<h1> Receipt </h1>

<h3> <%= @payment_info.buyer_name %>'s Purchase Summary: </h3>

<ul>
  <li>Name: <%= @payment_info.buyer_name %></li>
  <li>Email: <%= @payment_info.email %></li>
  <li>Address: <%= @payment_info.mailing_address %></li>
  <li>Card number: ####-####-####- <%= @last_four_cc %></li>
  <li>Expiration date: <%= @payment_info.expiration %></li>
</ul>
