<main class="wrap">
<h2>Enter Billing Information</h2>

<ul>
  <%= form_for(@payment_info, url: order_path(@order), html: { method: "patch" }) do |f| %>
    <li>
      <%= f.label :email%>
      <%= f.text_field :email%>
    </li>

    <li>
      <%= f.label :buyer_name %>
      <%= f.text_field :buyer_name %>
    </li>

    <li>
      <%= f.label :mailing_address %>
      <%= f.text_field :mailing_address %>
    </li>

    <li>
      <%= f.label :card_number %>
      <%= f.text_field :card_number %>
    </li>

    <li>
      <%= f.label :expiration %>
      <%= f.text_field :expiration %>
    </li>

    <li>
      <%= f.label :cvv %>
      <%= f.text_field :cvv %>
    </li>

    <li>
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>
    </li>

    <li>
      <%= f.submit "Checkout", class:'button' %>
    </li>
  <% end %>
</ul>
</main>
