<h1 class="emptycart">Oh no, your cart is empty!</h1>

<section class="">
  <h5>Can we suggest? | <small> Something, just for you</small></h5>
  <% spot = Product.not_retired.sample %>
  <div class="emptycart">
    <p><%= link_to spot.name, product_path(spot.id)%></p>
    <p>Price: $<%= '%.2f' % spot.price %></p>
    <p class="image"><%= image_tag "#{spot.photo_url}", alt:"image"%></p>
    <p><%= link_to "More Info", product_path(spot.id), class: "button"%></p>
    <p><%= form_tag create_order_product_path(product_id: spot.id), method: :post do %></p>

    <%= hidden_field_tag "quantity", 1 %>

    <p><%= submit_tag "Add to Order", class: "buy button" %></p>
    <% end %>
  </div>
</section>
