<%= link_to 'New Order', new_order_path, class:'button' %>

<h2>All Orders</h2>
<ul>
  <% @orders.each do |order| %>
    <li>
      <p>
        Order <%= order.id %>
      </p>
      <p>
        Status: <%= order.status %>
      </p>

      <%= link_to 'Edit', edit_order_path(order), class:'button' %>

      <%= link_to 'Delete', order_path(order), method: :delete, data: { confirm: "Are you sure?" }, class:'alert button' %>

    </li>
  <% end %>
</ul>
