<section>
  <h1> RECEIPT </h1>

  <h3> <%= @payment_info.buyer_name %>'s Purchase Summary: </h3>

  <ul>
    <li>Name: <%= @payment_info.buyer_name %></li>
    <li>Email: <%= @payment_info.email %></li>
    <li>Address: <%= @payment_info.mailing_address %></li>
    <li>Card number: ####-####-####- <%= @last_four_cc %></li>
    <li>Expiration date: <%= @payment_info.expiration %></li>
  </ul>


  <% @order.products.each do |product| %>
  <p><%= link_to product.name, product_path(product.id) %></p>
  <p>$<%= '%.2f' % product.price %></p>
  <p><%= product.created_at %></p>

  <p><%= link_to "Buy it again!", product_path(product.id), class: "button" %></p>
  <% end %>

  <p>Order Status: <%= @order.status %></p>
  <!-- maybe add the address that it will be shipped to? -->
  <p><%= "Check #{@payment_info.email} to track your shipping!" %></p>

  <p><%=  link_to "Get back to shopping!", root_path,  class: "button"%></p>

</section>
