<main class="wrap">

<h2>Your Cart</h2>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_products.each do |op| %>
      <tr>
        <td><%= link_to op.product.name, product_path(op.product) %></td>
        <td><%= op.quantity %></td>
        <td><%= op.subtotal %></td>
        <td>
          <%= form_tag order_product_path(op.id, product_id: op.product_id), method: :patch do %>

          <%= text_field_tag "quantity" %>

          <%= submit_tag "Update Quantity", class: "button" %>
          <% end %>
        </td>
        <td><%= link_to "Delete from cart", order_product_path(op.id), method: :delete,
        data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Proceed to Checkout", checkout_path(@order.id), class: "button buy" %></p>

<p>Order <%= @order.id %></p>
<p>Status: <%= @order.status %></p>

<p><%= link_to "Delete Order and start over!", order_path(@order.id), method: :delete,
data: { confirm: 'Are you sure?' }, class: "button" %></p>

<!-- <p><%= link_to "Back to All Orders", orders_path, class:'button'%></p> -->

</main>
