<!-- Each order has:
 quantity
 line-item subtotal
link to description
datetime order was placed
link to transition order to complete
status
-->
<ul>
  <% input_orders.each do |order| %>

  <li>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to order[:order].id, order_receipt_path(order[:order].id) %></td>
          <td><%= order[:order].updated_at %></td>
          <td><%= order[:order].status %></td>
          <td>order total</td>
        </tr>
      </tbody>
    </table>
    <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Subtotal</th>
              <% if order[:order].status != "complete" %>
                <th>Mark as Complete</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% order[:order_products].each do |op| %>
            <tr>
              <td><%= link_to op.product.name, product_path(op.product) %></td>
              <td><%= op.quantity %></td>
              <td>$<%= '%.2f' % op.subtotal %></td>
              <% if order[:order].status != "complete" %>
              <td><%= op.status == 'complete' ? "Already completed!" : (link_to "Complete Prodect", update_status_path(op), method: :patch, class:'button') %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
    </table>
  </li>
  <% end %>
</ul>
