<h2><%= @merchant.username %>'s Page</h2>

<%= link_to "Back to Merchants List", merchants_path, class: "button" %>
<%= link_to "Edit", edit_merchant_path(@merchant.id), class: "button" %>
<%= link_to "Delete", merchant_path(@merchant.id), method: :delete, data: { confirm: "Are you sure?" }, class: "alert button" %>

<% @merchant.products.each do |product| %>
<p><%= link_to product.name, product_path(product.id) %></p>
<% end %>

<%# TODO %>
<%# all money %>
<%# all products sold %>
<%# all customers who have bought products %>
