<section>
  <h2><%= @merchant.username %>'s Page</h2>

  <div>
    <%= link_to "Back to Merchants List", merchants_path, class: "button" %>
    <% if @merchant.id == session[:merchant_id] %>
    <%# link_to "Edit", edit_merchant_path(@merchant.id), class: "button" %>
    <%= link_to "Add Product", new_product_path, class: "button" %>
    <%# link_to "Delete", merchant_path(@merchant.id), method: :delete, data: { confirm: "Are you sure?" }, class: "alert button" %>
    <%end %>
  </div>
</section>

<!-- line -->

<h5 class="category-name">Products:</h5>

<table class='products-table'>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Inventory</th>
      <%if session[:merchant_id] == @merchant.id %>
      <th>Update Inventory</th>
      <th>Edit Product</th>
      <th>Retire Product</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @merchant.products.each do |product| %>
    <tr>
      <td><p><%= link_to product.name, product_path(product.id) %></p></td>
      <td>$<%= '%.2f' % product.price %></td>
      <td><%= product.inventory %></td>
      <%if session[:merchant_id] == @merchant.id %>
      <td>
        <% if product.retired %>
        <span>--Retired--</span>
        <% else %>
        <span>
          <%= form_for product do |f| %>

          <%= f.text_field :inventory%>

          <%= submit_tag "Update inventory", class: "button" %>
          <% end %>
        </span>
        <% end %>
      </td>
      <td><%= link_to "Edit Info", edit_product_path(product), class: "button" %></td>
      <td><%= link_to product.retired ? "Unretire Product" : "Retire Product", retire_product_path(product), method: :patch, class: "button" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>



<% if @merchant.id == session[:merchant_id] %>

<h4>Orders waiting to be fulfilled:</h4>
<%= render partial: "show_orders", locals: {input_orders: @paid_orders} %>

<h4>Completed orders:</h4>
<%= render partial: "show_orders", locals: {input_orders: @complete_orders} %>

<h4>Total money made with 3Bae:</h4>
<table class="total-revenue">
  <thead>
    <tr>
      <th><%= "#{@merchant.name}'s " %>Total Revenue</th>
    </tr>
  </thead>
  <tbody>
    <% if @complete_orders.empty? %>
    <tr>
      <td>
        <%=  "No money made yet!" %>
      </td>
      <% else %>
      <tr>
        <td>
          $<%='%.2f' % @merchant.total_revenue%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <%# TODO %>
  <%# all money %>
  <%# all products sold %>
  <%# all customers who have bought products %>
