<h2><%= @merchant.username %>'s Page</h2>

<%= link_to "Back to Merchants List", merchants_path, class: "button" %>
<% if @merchant.id == session[:merchant_id] %>
  <%# link_to "Edit", edit_merchant_path(@merchant.id), class: "button" %>
  <%= link_to "Add Product", new_product_path, class: "button" %>
  <%= link_to "Delete", merchant_path(@merchant.id), method: :delete, data: { confirm: "Are you sure?" }, class: "alert button" %>

<%end %>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Inventory</th>
      <th>Update Inventory</th>
      <th>Edit Product</th>
      <th>Retire Product</th>
    </tr>
  </thead>
  <tbody>
    <% @merchant.products.each do |product| %>
    <tr>
      <td><p><%= link_to product.name, product_path(product.id) %></p></td>
      <td><%= product.price %></td>
      <td><%= product.inventory %></td>
      <td>
        <%= form_for product do |f| %>

        <%= f.text_field :inventory%>

        <%= submit_tag "Update inventory", class: "button" %>
        <% end %>
      </td>
      <td><%= link_to "Edit Info", edit_product_path(product), class: "button" %></td>
      <td><%= link_to "Retire Product", edit_product_path(product), class: "button" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @merchant.id == session[:merchant_id] %>

  <h4>Orders waiting to be fulfilled:</h4>
  <%= render partial: "show_orders", locals: {input_orders: @paid_orders} %>

  <h4>Completed orders:</h4>
  <%= render partial: "show_orders", locals: {input_orders: @complete_orders} %>
<% end %>

<%# TODO %>
<%# all money %>
<%# all products sold %>
<%# all customers who have bought products %>
