<section class="wrappy">
<h2 class="category"> <%= @category.name %></h2>

  <section class="row">
<% @category.products.not_retired.each do |prod| %>
  <section class="category-products small-2 large-4 columns">
<p><%= link_to prod.name.capitalize, product_path(prod.id) %></p>
<p>$<%= '%.2f' % prod.price %></p>

<p class="cat-image"><%= link_to product_path(prod.id) do %>
<%= image_tag prod.photo_url %> </p>
<% end %>

</section>
<% end %>
</section>
</section>
