<h1>All things that come in 3s</h1>

<span class="add"><%= link_to "Add a Product", new_product_path, class: "button" %></span>


<% Category.all.each do |category| %>

<h2 class="category"><%= link_to category.name, category_path(category.id) %></h2>
<% category.products.each do |prod| %>

<p><%= link_to prod.name.capitalize, product_path(prod.id) %></p>
<p>Price: $<%= '%.2f' % prod.price %></p>
<p>Description:<%= prod.description %></p>
<p class="image"><%= image_tag "#{prod.photo_url}", alt:"image", size: "100x100"%></p>

<% end %>
<% end %>
