<section class="all-products">
  <h2>All things that come in 3s</h2>
  <!-- <span class="add"><%= link_to "Add a Product", new_product_path, class: "button" %></span> -->

  <% Category.all.each do |category| %>
    <h5 class="category-name">
      <%= link_to category.name.capitalize, category_path(category.id) %>
    </h5>
    <section class="row">
    <% category.products.each do |product| %>
      <section class="category-products small-2 large-4 columns">
      <%=link_to product.name.capitalize, product_path(product.id)%>
      $<%='%.2f' % product.price%>
      <%= image_tag product.photo_url %>
      </section>
    <% end %>
    </section>
  <% end %>
</section>


<%# <div class="row product-index">
  <% category.products.each do |product| %>

  <%# <div class="randpad-home small-2 large-4 columns">
    <p class="title"><%=link_to product.name.capitalize, product_path(product.id)%></p>
    <%# <p>$<%='%.2f' % product.price%>  </p>
    <%# <p class="product-image"><%= image_tag "#{product.photo_url}" %></p>
<%#   </div>

<!-- <% Category.all.each do |category| %>

<%# <h2 class="category"><%= link_to category.name, category_path(category.id) %></h2>
<%# <% category.products.each do |prod| %>

<%# <p><%= link_to prod.name.capitalize, product_path(prod.id) %></p>
<%# <p>Price: $<%= '%.2f' % prod.price %></p>
<%# <p>Description:<%= prod.description %></p>
<%# <%# <p class="image"><%= image_tag "#{prod.photo_url}", alt:"image", size: "100x100"%></p>

<%# <% end %>
<%# <% end %>
