<section class="homepage">
  <p class="bae">
    <a href="#codeword">3Bae</a>
  </p>

  <section class="welcome">
    <section id="codeword"></section>

    <% if session[:merchant_id] %>
    <h1 class="hey-bae"> <%= link_to "Welcome Back, Bae", products_path  %></h1>
    <% else %>
    <h1 class="hey-bae"><%= link_to "Hey, Bae Bae Bae", products_path %> </h1>
    <% end %>
  </section>
  <section class="spotlight ">
    <h2 class="spooky-spot">Spotlight | <small> Something just for you</small> </h2>
    <% @spot = Product.not_retired.sample %>
    <div class="">
      <p><%= link_to @spot.name.capitalize, product_path(@spot.id) %> |
        <%= readable_price(@spot.price) %></p>
        <%= link_to product_path(@spot.id) do %>
        <p class="spotlight-image"><%= image_tag @spot.photo_url %></p>
        <% end %>
      </div>
    </section>

    <h2 class="spooky">Spooky Seasonal Hits | <small> Boo! </small> </h2>
    <section class="row spooky-row">
      <%@all_products_for_season_cat.each do |product|%>
      <section class="small-2 large-5 columns">
        <div class="crop-image">
          <%= link_to product.name.capitalize, product_path(product.id) %> |
          <%= readable_price(product.price) %>
          <%= link_to product_path(product.id) do %>
          <%= image_tag product.photo_url %>
          <% end %>
        </div>


      </section>
      <% end %>
    </section>
<section class="bottom">

</section>
  </section>
