<h1>Show page for Individual Product!</h1>
<p>Name: <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Price: $<%= '%.2f' % @product.price %></p>

<p class="image"><%= image_tag "#{@product.photo_url}", alt:"image", size: "100x100"%></p>
<!-- <p class="image"><img src="<%= @product.photo_url %>", alt:"image"></p> -->
<section>
  <%= form_tag create_order_product_path(product_id: @product.id), method: :post do %>

  <%= text_field_tag "quantity", 1 %>

  <%= submit_tag "Add to Order", class: "button" %>
  <% end %>
</section>


<p>Reviews: <% @product.reviews.each do |review| %></p>
<%= review.text %>
<%= review.rating %>
<% end %>


<p><%= link_to "Back to All Products", products_path, class: "button" %></p>
<p><%= link_to "Write a Review", new_product_review_path(@product), class: "button" %></p>
<p><%= link_to "Edit", edit_product_path(@product), class: "button" %></p>
<p><%= link_to "Delete", product_path(@product), class: "alert button", method: "delete", data: { confirm: "Are you sure?" } %></p>
