<h1> Write a new Review: </h1>
<%= form_for @review do |f| %>

<%= f.label :rating, "Rating 1-5" %>
<%= f.select :rating, [1,2,3,4,5] %>

<%= f.label :text, "Write a review!" %>
<%= f.text_area :text %>

<%= f.hidden_field :product_id, :value => @product.id %>

<input type="submit" class="button"<%= f.submit %>
<% end %>
