<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "3Bae" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body class="background">

  <header class="page-header row">
    <h2 class="heading columns small-12 large-3">
      <%= link_to "3Bae", root_path %>
    </h2>

    <div class="float-right">
      <%= link_to root_path do %>
        <%= image_tag "address-icon.png", size: "40x40" %>
      <% end %>

      <%= link_to session[:cart] ? order_path(session[:cart]) : products_path do %>
        <%= image_tag 'blue_cart.png', size: "40x40" %>
      <% end %>

      <% if session[:merchant_id] %>
        <%= link_to merchant_path(session[:merchant_id]) do %>
          <%= image_tag "your_page.png", size: "45x45"  %>
        <% end %>
        <%= link_to "Log out", logout_path, class: "button-link" %>
      <% else %>
        <%= link_to '/auth/github' do %>
          <%= image_tag "login.png", size: "40x40"  %>
        <% end %>
      <% end %>
    </div>
  </header>

    <nav class="columns small-12">
      <div class="dropdown">
        <span class="button-link"><%= link_to "All merchants", merchants_path  %></span>
        <div class="dropdown-content">
          <% Merchant.all.each do |merchant| %>
          <%= link_to "#{merchant.name}", merchant_path(merchant.id) %>
          <% end %>
        </div>
      </div>
      <%= link_to "View all products", products_path, class: "button-link" %>

      <div class="dropdown">
        <span class="button-link"><%= link_to "All categories", products_path  %></span>
        <div class="dropdown-content">
          <% Category.all.each do |category| %>
          <%= link_to "#{category.name}", category_path(category.id)%>
          <% end  %>
        </div>
      </div>

      <% if session[:merchant_id] %>
      <%= link_to "Create new category", new_category_path, class: "button-link "%>
      <% end %>
    </nav>

  <main>
    <!-- this is the flash section -->
    <% if flash[:message] %>
      <section class="row status <%= flash[:status] %>">
        <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:message] %></h3>

        <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |name, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <%= name %>: <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>

    <%= yield %>

  </main>
</body>
</html>
