<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "3Bae" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body class="background">

  <header class="page-header row">
    <h2 class="heading columns small-12 large-6">
      <%= link_to "3Bae", root_path %>
    </h2>

    <div class="top-nav float-right small-12 large-6">

      <% if session[:merchant_id] %>
        <div class="dropdown">
          <span class="button-link"> Create </span>
          <div class="dropdown-content">
            <%= link_to "Product", new_product_path %>
            <%= link_to "Category", new_category_path %>
          </div>
        </div>

        <%= link_to merchant_path(session[:merchant_id]) do %>
          <%= image_tag "your_page.png", size: "45x45"  %>
        <% end %>

        <%= link_to logout_path do %>
          <%= image_tag "unlock.png", size: "40x40"  %>
        <% end %>

        <% else %>
          <%= link_to '/auth/github' do %>
            <%= image_tag "login_key.png", size: "40x40"  %>
          <% end %>
        <% end %>

        <%= link_to root_path do %>
          <%= image_tag "address-icon.png", size: "40x40" %>
        <% end %>

        <%= link_to session[:cart] ? order_path(session[:cart]) : products_path do %>
          <%= image_tag 'blue_cart.png', size: "40x40" %>
        <% end %>

    </div>
  </header>

    <nav class="menu row">
      <div class="dropdown columns large-3">
        <span><%= link_to "All Merchants", merchants_path, class: "button-link" %></span>
        <div class="dropdown-content">
          <% Merchant.all.each do |merchant| %>
          <%= link_to "#{merchant.username}", merchant_path(merchant.id) %>
          <% end %>
        </div>
      </div>

      <div class="dropdown columns large-3">
        <span><%= link_to "All Products", products_path, class: "button-link" %></span>
        <div class="dropdown-content">
          <% Product.all.each do |product| %>
          <%= link_to product.name, product_path(product.id)%>
          <% end  %>
        </div>
      </div>

      <div class="dropdown columns large-3">
        <span><%= link_to "All Categories", categories_path, class: "button-link" %></span>
        <div class="dropdown-content">
          <% Category.all.each do |category| %>
          <%= link_to "#{category.name}", category_path(category.id)%>
          <% end  %>
        </div>
      </div>
    </nav>

  <main class="wrap">
    <!-- this is the flash section -->
    <% if flash[:message] %>
      <section class="row status <%= flash[:status] %>">
        <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:message] %></h3>

        <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |name, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <%= name %>: <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>

    <%= yield %>

  </main>
  <footer>
    <nav>
      FOOTER STUFF
    </nav>
  </footer>
</body>
</html>
